*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
.container{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 100px 200px 100px;
    grid-template-areas:
    "   .   celda1 celda1"
    "celda2 celda3 celda3"
    "celda4 celda4 celda4";
    gap: 2px;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: white;
}

.div1{
    grid-area: celda1;
    background-color: #6565ac;
    padding: 30px;
}

.div2{
    grid-area: celda2;
    background-color: #9595be;
    padding: 30px;
}
.div3{
    grid-area: celda3;
    background-color: #3232a5;
    padding: 30px;
    text-align: left;
}
.div4{
    grid-area: celda4;
    background-color: #191957;
    padding: 30px;
}